<mat-form-field>
  <mat-label>Jugador</mat-label>
  <input matInput [(ngModel)]="jugador">
</mat-form-field>
<br>
<mat-form-field>
  <mat-label>Dorsal</mat-label>
  <input matInput type="number" [(ngModel)]="dorsal">
</mat-form-field>
<br>
<button mat-raised-button color="primary" (click)="guardar()">{{ seleccionado>=0 ? 'Actualizar' : 'Guardar' }}</button>
<button mat-raised-button style="margin-left:5px;display:{{ seleccionado>=0 ? 'inline-flex' : 'none' }}" (click)="quitar()">Deseleccionar</button>